@font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

body{
    font-family:"helvetica";
    font-weight: 400;
    background-color: #F0F2F5;
}
.logo{
    height: 106px;
    width: 301.062px;
    margin: -28px -28px -28px -28px;
}
